frontend/node_modules/ 
backend/target/ 
.DS_Store 
Thumbs.db 
*.log 
.metadata/ 
.settings/ 
.classpath 
.project 
*.class 
bin/ 
src/main/resources/application.properties 
backend/src/main/resources/application.properties 
backend/src/main/resources/application-*.properties 
backend/src/main/resources/application-*.properties 
